# Data Science Tools and Ecosystem

In this notebook, DataScience Tools and Ecosystem are summarized

**Objectives:** 
* list popular languages used by data scientists
* list libraries used in data science
* list tools used by data scientists
* examples of arithmetic operations

**Some of the popular languages that data scientists use are**

1. Python
2. R
3. SQL
4. Julia
5. Scala

**Some of the commonly used libraries used by data scientists include:**

1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. Matplotlib
9. Seaborn


**Some of the tools used by data scientists include:**

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are few examples of evaluating arithmetic expressions in Python

In [1]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# this will convert 200 minutes to hours by dividing by 60
minutes= 200
hours= minutes/60
hours

3.3333333333333335

## Author
Sanjana